<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	  <h2><b th:text="${message}"></b></h2>

	<div
		style="background-color: #D5EAFF; border: 1px dotted #003333; padding: .8em;">
		<span
			style="font-size: 12pt; font-family: 'Cambria', 'times new roman', 'garamond', serif; color: #ff0000;">
			Disclaimer</span></br>
		<p
			style="font-size: 8pt; line-height: 10pt; font-family: 'Cambria', 'times roman', serif;">This
			message contains confidential information and is intended only for
			the individual(s) addressed in the message. If you are not the named
			addressee, you should not disseminate, distribute, or copy this
			e-mail. If you are not the intended recipient, you are notified that
			disclosing, distributing, or copying this e-mail is strictly
			prohibited.</p>
	</div>
</body>
</html>